.nav-link {
    color: inherit;
}

.field-validation-error {
    color: red;
}

body {
    font-family: "Times New Roman", Times, serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", Times, serif !important;
}


.rating_wrap {
    float: left !important;
}


.pagination li {
    border: solid 2px #b8b2b2;
    margin: 2px;
}

    .pagination li a {
        padding: 10px 20px;
    }

.pagination .active {
    background: darkgray;
    color: white;
}
