.nav-link {
    color: inherit;
}

.field-validation-error {
    color: red;
}

.rating_wrap {
    float: left !important;
}


.pagination li {
    border: solid 2px #b8b2b2;
    margin: 2px;
}

    .pagination li a {
        padding: 10px 20px;
    }

.pagination .active {
    background: darkgray;
    color: white;
}
